{% extends 'base.html' %}

{% load static %}
{% load icon %}
{% block 'conteudo' %}

<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div>
                <div class="col-12">
                    <div class="card shadow-md rounded-lg">
                        <div class="card-header d-flex justify-content-between align-items-center  text-white rounded-top-lg"
                            style="background-color: #0EE785;">
                            <h4 class="mb-0" id="data-vendas"></h4>

                            <script>
                                document.getElementById("data-vendas").innerText = "Vendas de " + new Date().toLocaleDateString('pt-BR');
                            </script>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped data-table" id="produtos">
                                    <thead class="thead-light">
                                        <tr>

                                            <th>#</th>
                                            <th>Valor</th>
                                            <th>Vendedor</th>
                                            <th class="nosort">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>1</td>
                                            <td>R$75,00</td>
                                            <td>Maria</td>


                                            <td>
                                                <button class="btn btn-primary btn-sm">Visualizar</button>
                                            </td>
                                        </tr>

                                        <td>2</td>
                                        <td>R$50,00</td>
                                        <td>Maria</td>

                                        <td>
                                            <button class="btn btn-primary btn-sm">Visualizar</button>
                                        </td>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('#produtos').DataTable();
        $('#produtos_filter').css({
            'display': 'flex',
            'justify-content': 'flex-end'
        });
    });
</script>
{% endblock %}